.button {
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--text-alternate);
  background-color: var(--background-alternate);
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  gap: 0.75rem;
  justify-content: center;
    transition:
    background 0.2s ease,
    color 0.2s ease;
}

.button:active {
  transform: scale(0.9);
}

.button:hover {
  background-color: var(--background-accent);
  color: var(--text-primary);
}

.is-secondary {
  color: var(--text-primary);
  background-color: var(--background-secondary);
}

.is-secondary:hover {
  background-color: var(--background-accent);
}