.page_layout {
  position: relative;
  display: flex;
  gap: 0.75rem;
  align-items: stretch;
  height: calc(100vh - 7rem);
  margin-top: 6.25rem;
  margin-bottom: 0.75rem;
}

.page_content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: clip;
}

.page_content {
  max-width: 65rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
